@import url("https://fonts.googleapis.com/css2?family=BBH+Hegarty&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BBH+Hegarty&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BBH+Hegarty&family=Carrois+Gothic&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BBH+Hegarty&family=Carrois+Gothic&family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

:root {
  /* LIGHT THEME */
  --color-background: oklch(98.9% 0.013 251.718);
  --color-maintext: hsl(0 0% 5%);
  --color-subtext: hsl(0 0% 30%);
  --color-bg-dark: hsl(0 0% 80%);
  --color-bg: hsl(0 0% 90%);
  --color-bg-light: hsl(0 0% 100%);
  --border: hsl(0 0% 60%);
  --highlight: hsl(0 0% 100%);

  --border-card: solid 1px var(--color-background);

  --shadow:
    0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 4px 4px hsla(0, 0%, 0%, 0.15);

  --gradient: linear-gradient(0deg, var(--color-bg) 95%, var(--color-bg-light));
  --gradient-hover: linear-gradient(
    0deg,
    var(--color-bg),
    var(--color-bg-light)
  );
}

html[data-theme="dark"] {
  --color-background: oklch(12.3% 0.067 254.283);
  --color-maintext: hsl(0 0% 95%);
  --color-subtext: hsl(0 0% 70%);
  --color-bg-dark: hsl(0 0% 0%);
  --color-bg: hsl(0 0% 5%);
  --color-bg-light: hsl(0 0% 10%);
  --border: hsl(0 0% 30%);
  --highlight: hsl(0 0% 60%);

  --border-card: solid 1px var(--border);

  --gradient: linear-gradient(0deg, var(--color-bg) 95%, var(--color-bg-light));
  --gradient-hover: linear-gradient(
    0deg,
    var(--color-bg),
    var(--color-bg-light)
  );
}

@theme inline {
  --color-accent: var(--color-accent);
  --color-foreground: var(--color-foreground);
  --color-background: var(--color-background);

  --color-bg-dark: var(--color-bg-dark);
  --color-bg: var(--color-bg);
  --color-bg-light: var(--color-bg-light);
  --color-maintext: var(--color-maintext);
  --color-subtext: var(--color-subtext);

  --color-border: var(--border);
  --color-highlight: var(--highlight);

  --font-bbh: "BBH Hegarty", sans-serif;
  --font-lora: "Lora", serif;
  --font-gothic: "Carrois Gothic", sans-serif;
  --font-fira: "Fira Sans Extra Condensed", sans-serif;
}

/* Base styles */
html,
body {
  font-family: var(--font-lora);
  background: var(--color-background);
  color: var(--color-maintext);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition:
    background 0.s ease,
    color 0.2s ease;
  height: 100%;
}

.card {
  background: var(--gradient);
  border: var(--border-card);
  box-shadow: var(--shadow);

  /* TOP HIGHLIGHT BORDER */
  border-top: 1px solid var(--highlight);

  transition:
    background 0.5s ease,
    border-color 0.2s ease,
    transform 0.15s ease;
}

/* Hover state */
.card:hover {
  background: var(--gradient-hover);
  /* transform: translateY(-2px); */
}

.btn{
  box-shadow: var(--shadow);
}
